#!/usr/bin/env bash

set -e

name="{{ project_name }}"
flaskdir=$(cd "$(dirname "$0")" && pwd)
socketfile="${flaskdir}/sock"
user="{{ app_user }}"
group="{{ app_group }}"
num_workers="{{ gun_workers }}"

echo "Starting $name"

# Create the run directory
rundir="$(dirname $socketfile)"
if [[ ! -d "$rundir" ]]; then
  mkdir -p "$rundir"
fi

# activate virtualenv
source ${flaskdir}/venv/bin/activate

# start gunicorn
exec gunicorn {{ project_name }}:app -b {{ app_host }}:{{ app_port }} \
  --name "$name" \
  --workers "$num_workers" \
  --user="$user" --group="$group" \
  --bind=unix:"$socketfile"

# vim: filetype=sh
